<div
  class="bg-gray-900 py-3 px-6 shadow-2 flex align-items-center justify-content-between relative lg:static border-bottom-1 border-gray-800"
  style="min-height: 84px"
>
  <img
    src="https://img.freepik.com/vector-premium/plantilla-logotipo-reparacion-automoviles-garaje-industria-automotriz_160069-74.jpg"
    alt="Image"
    height="40"
    class="mr-0 lg:mr-6"
  />
  <a
    pRipple
    class="cursor-pointer block lg:hidden text-gray-400"
    pStyleClass="@next"
    enterClass="hidden"
    leaveToClass="hidden"
    [hideOnOutsideClick]="true"
  >
    <i class="pi pi-bars text-4xl"></i>
  </a>
  <div
    class="align-items-center flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full bg-gray-900 left-0 top-100 z-1 shadow-2 lg:shadow-none border-1 lg:border-none border-gray-800"
  >
    <ul
      class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row"
    >
      <li>
        <a
          routerLink="/"
          pRipple
          class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-gray-400 hover:text-white hover:bg-gray-800 font-medium border-round cursor-pointer transition-colors transition-duration-150"
        >
          <i class="pi pi-home mr-2"></i>
          <span>Home</span>
        </a>
      </li>

      <li>
        <a
          pRipple
          class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-gray-400 hover:text-white hover:bg-gray-800 font-medium border-round cursor-pointer transition-colors transition-duration-150"
          pStyleClass="@next"
          enterClass="hidden"
          enterActiveClass="scalein"
          leaveToClass="hidden"
          leaveActiveClass="fadeout"
          [hideOnOutsideClick]="true"
        >
          <i class="pi pi-users mr-2"></i>
          <span>Motos</span>
          <i class="pi pi-angle-down ml-auto lg:ml-3"></i>
        </a>
        <ul
          class="list-none py-3 px-6 m-0 lg:px-0 lg:py-0 border-round shadow-0 lg:shadow-2 lg:absolute bg-gray-900 hidden origin-top w-full lg:w-15rem cursor-pointer lg:border-1 border-gray-800"
        >
          <li>
            <a
              routerLink="/motos/deportivas"
              pRipple
              class="flex p-3 align-items-center text-gray-400 hover:text-white hover:bg-gray-800 transition-colors transition-duration-150"
            >
              <i class="pi pi-user-plus mr-2"></i>
              <span class="font-medium">Deportivas</span>
            </a>
          </li>
          <li>
            <a
              routerLink="/motos/naked"
              pRipple
              class="flex p-3 align-items-center text-gray-400 hover:text-white hover:bg-gray-800 transition-colors transition-duration-150"
            >
              <i class="pi pi-user-plus mr-2"></i>
              <span class="font-medium">Naked</span>
            </a>
          </li>
          <li>
            <a
              routerLink="/motos/scooter"
              pRipple
              class="flex p-3 align-items-center text-gray-400 hover:text-white hover:bg-gray-800 transition-colors transition-duration-150"
            >
              <i class="pi pi-user-plus mr-2"></i>
              <span class="font-medium">Naked</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <ul
      class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row"
    >
      <li class="flex-order-2 lg:flex-order-0">
        <div
          class="bg-gray-900 px-3 sm:px-6 py-3 flex align-items-stretch justify-content-center sm:justify-content-end text-sm"
        >
          <a
            pRipple
            class="text-white font-medium inline-flex align-items-center cursor-pointer px-3 hover:text-gray-200"
          >
            <i class="pi pi-sign-in mr-2 sm:mr-3 text-sm"></i>
            <span>Iniciar Sesión</span>
          </a>
          <div class="text-white mx-1 sm:mx-2">|</div>
          <a
            pRipple
            class="text-white font-medium inline-flex align-items-center cursor-pointer px-3 hover:text-gray-200"
          >
            <i class="pi pi-user mr-2 sm:mr-3 text-sm"></i>
            <span>Crear una Cuenta</span>
          </a>
        </div>
      </li>
      <li class="border-top-1 border-gray-800 lg:border-top-none">
        <a
          pRipple
          class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center hover:bg-gray-800 font-medium border-round cursor-pointer transition-colors transition-duration-150"
        >
          <div class="block lg:hidden">
            <div class="text-white font-medium">Josephine Lillard</div>
            <span class="text-gray-400 font-medium text-sm"
              >Marketing Specialist</span
            >
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
